{% extends "layout.j2" %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>mac</th><th>hostname</th><th>state</th><th>profile</th>
        </tr>
    </thead>
    {% for server in servers %}
    <tr>
        <td>{{ server[0] }}</td><td>{{ server[1] }}</td><td>{{ server[2] }}</td><td>{{ server[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
